.navbar
  .container
    a(href="https://www.digipulse.io")
      img.logo(src="/images/wh_logo_only.png" height="40")

    .actions.pull-right
      a.logout(href="#" onClick="logout();")
        i.fa.fa-sign-out
        | Logout